#upload_attachment_content {
  // width: 100%;
  width: 200px;
  height: 80px;
  background-color: red;
  overflow: hidden;
  white-space: nowrap;
}

#upload_attachment_choose_file_label {
  cursor: pointer;
}

#upload_attachment_choose_file_btn {
  display: none;
}

.upload_attachment_choose_file_img {
  width: 40px;
  height: 40px;
}

.upload_attachment_attment_label {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 10px 0px 0px 10px;
  background: pink;
  // float: left;
}