/**
 * @author yangyongxia
 */

.enterprise_management_mt20 {
  margin-top: 20px;
}
#enterprise_management_list span {
  margin-left: 15px;
}
#enterprise_management_condition .icheckbox_square-blue {
  margin-right: 15px;
}
#enterprise_management_list th, #enterprise_management_list tr {
  text-align: center;
}
#enterprise_management_list {
  margin-bottom: 0;
}
